<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<p><strong>{{fio}}&nbsp;</strong></p>
<p><span style="font-weight: 400;">УЛ.НАХИМОВСКИЙ ПРОСПЕКТ, Д. 63</span></p>
<p><span style="font-weight: 400;">МОСКВА, РОССИЯ, 117335</span></p>
<p><strong>Mob: (+7) (977) 948-24-57</strong></p>
<p><strong>Email: </strong><span style="font-weight: 400;">juliyaspr@gmail.com</span></p>
<p><span style="font-weight: 400;">Я студент Московского Педагогического Государственного Университета. Учусь на факультете международного образования на направлении &ldquo;разработка программно-информационных систем в глобальной экономике&rdquo;. На протяжении двух лет изучаю компьютерное программирование и информационно-коммуникационные технологии.</span></p>
<p><span style="font-weight: 400;">Готов к работе в команде и индивидуальным проектам, заинтересован в наилучших результатах работы. Мне комфортно поэтапно планировать работу, искать тактические схемы для решения стратегических задач. Более того, у меня хорошие коммуникативные навыки. Я готов справляться со всеми трудностями, которые возникают на моем пути.&nbsp;</span></p>
<p><strong>Дополнительные навыки:</strong></p>
<p><strong>Языки:</strong><span style="font-weight: 400;"> Русский(носитель), Английский(B2+), Французский(A1)</span></p>
<p><strong>IT:</strong><span style="font-weight: 400;"> Java</span></p>
<p><span style="font-weight: 400;">Грамотное использование MS Office (Word, Excel и PowerPoint), документов Google, электронной почты и интернет-программного обеспечения, водительские права(категория B,M).</span></p>
<p><strong>Образование:</strong></p>
<p><span style="font-weight: 400;">Я являюсь студентом 3 курса</span><strong> Московского Педагогического&nbsp; Государственного университета</strong></p>
<p><strong>Института Международного Образования с 2020 года.</strong></p>
<p><span style="font-weight: 400;">Соответствующие модули:</span></p>
<ul>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Наука о компьютере</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Творческое программирование&nbsp;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Объектно-Ориентированное программирование&nbsp;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Программирование на Java&nbsp;</span></li>
<li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Архитектура компьютера</span></li>
</ul>
<p><strong>2021 Les Mills Body Pump certified instructor</strong><span style="font-weight: 400;">.</span></p>

<p><span style="font-weight: 400;">Являюсь выпускником</span><strong> FPA Ассоциация профессионалов фитнеса с 2022 года</strong><span style="font-weight: 400;"> по специальности &ldquo;Персональный фитнес-тренер&rdquo;.</span></p>

<p><strong>2022 Les Mills Sh'bam certified instructor.</strong></p>

<p><strong>2009 - 2020 </strong><strong>&nbsp;Государственное Бюджетное Общеобразовательное Учреждение Средняя образовательная школа № 1205</strong><span style="font-weight: 400;">.</span></p>

<p><strong>Другие достижения:</strong></p>
<p><strong>2009 - 2016 Детская музыкальная школа имени Г.В. Свиридова .</strong></p>
<p><span style="font-weight: 400;">Курс: Хоровое пение</span></p>
<p><span style="font-weight: 400;">Диплом: Красный</span></p>
<p><strong>2017 - 2020 ММА Школа иностранного языка (Cambridge Assessment) .</strong></p>
<p><span style="font-weight: 400;">Курс: Изучение английского языка</span></p>
<p><span style="font-weight: 400;">Уровень: B2</span></p>
<p><strong>Интересы:</strong></p>
<p><span style="font-weight: 400;">Я разносторонний человек. У меня математический склад ума, именно поэтому мне очень нравятся точные науки. Математика, физика, химия очень мне интересны. Но это не значит, что я совсем не творческий человек. Я очень люблю музыку, именно поэтому я пошла в музыкальную школу. Я люблю спорт. Самый первой спорт в моей жизни - горнолыжный спорт. Я встал на лыжи в 3 года. С тех самых пор и началась моя любовь к спорту. Я очень активный и жизнерадостный человек.</span></p>

</div>

</body>
</html>