{% extends "Base.html" %}

{% block content %}
<style>
    input{
        width: 400px
    }
</style>
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=64) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=128) }}
                </p>
                <p>{{ form.remember_me.label }} {{ form.remember_me() }}</p>
                <p>{{ form.submit() }}</p>
            </form>
              <p>Don't have an Account? <a href="{{ url_for('register') }}"> Sign Up Now!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u !== -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
    <div style="width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;">
        <a class="btn btn-outline-info" href="/authorize/vk" role="button">Войти с помощью Вконтакте</a>
    </div>
</section>
{% endblock %}